.about {
  background-color: white;
  display: flex;
  gap: 56px;
  padding: 80px 104px;
}

.about__image {
  height: 464px;
  width: 464px;
  border-radius: 1000px;
}

.about__title {
  max-width: 600px;
  font-family: "Roboto-Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__text {
  max-width: 600px;
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1300px) {
  .about {
    gap: 32px;
    padding: 40px 40px;
  }

  .about__image {
    height: 232px;
    width: 232px;
  }

  .about__title {
    max-width: 424px;
    font-size: 30px;
    line-height: 40px;
  }

  .about__text {
    max-width: 424px;
  }
}

@media screen and (max-width: 775px) {
  .about {
    gap: 32px;
    padding: 32px 24px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about__image {
    height: 272px;
    width: 272px;
  }

  .about__title {
    max-width: 288px;
  }

  .about__text {
    max-width: 288px;
  }
}
