.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 500;
}

.navigation-saved {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 500;
}

.navigation__nav-link {
  padding: 30px 0 26px;
  color: white;
  text-decoration: none;
  margin-left: 44px;
}

.navigation__nav-link_home {
  width: 68px;
  text-align: center;
}

.navigation__nav-link_home.active {
  background-image: url(../../assets/home-border-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 68px 3px;
  background-origin: border-box;
  overflow: visible;
}

.navigation__nav-link_saved {
  width: 178px;
  text-align: center;
}

.navigation__nav-link:hover {
  cursor: url(../../assets/lapka.svg), pointer;
}

.navigation-saved__nav-link {
  padding: 30px 0 26px;
  color: #1a1b22;
  text-decoration: none;
  margin-left: 44px;
}

.navigation-saved__nav-link_saved {
  width: 178px;
  text-align: center;
}

.navigation-saved__nav-link_saved.active {
  background-image: url(../../assets/saved-border-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 178px 3px;
  background-origin: border-box;
  overflow: visible;
}

.navigation-saved__nav-link:hover {
  cursor: url(../../assets/lapka.svg), pointer;
}

.navigation__signin-btn {
  margin-left: 42px;
  width: 176px;
  height: 48px;
  color: white;
  border-radius: 100px;
  border: solid 1px white;
  background-color: transparent;
}

.navigation__signin-btn:hover {
  cursor: url(../../assets/lapka.svg), pointer;
}

.navigation__logout-btn {
  margin-left: 64px;
  height: 48px;
  color: white;
  border-radius: 100px;
  border: solid 1px white;
  background-color: transparent;
  background-image: url(../../assets/logout-white.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: bottom 12px right 15px;
  padding: 12px 54px 12px 19px;
}

.navigation__logout-btn:hover {
  cursor: url(../../assets/lapka.svg), pointer;
}

.navigation-saved__logout-btn {
  margin-left: 64px;
  height: 48px;
  color: #1a1b22;
  border-radius: 100px;
  border: solid 1px #1a1b22;
  background-color: transparent;
  background-image: url(../../assets/logout-black.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: bottom 12px right 15px;
  padding: 12px 54px 12px 19px;
}

.navigation-saved__logout-btn:hover {
  cursor: url(../../assets/lapka.svg), pointer;
}

@media screen and (max-width: 1300px) {
  .navigation {
    font-size: 16px;
  }

  .navigation-saved {
    font-size: 16px;
  }

  .navigation__nav-link {
    padding: 22px 0 20px;
    margin-left: 16px;
  }

  .navigation__nav-link_home {
    width: 64px;
    text-align: center;
  }

  .navigation__nav-link_saved {
    width: 160px;
    text-align: center;
  }

  .navigation__nav-link_home.active {
    background-size: 60px 3px;
  }

  .navigation-saved__nav-link {
    padding: 22px 0 20px;
    width: 64px;
    text-align: center;
    margin-left: 16px;
  }

  .navigation-saved__nav-link_saved {
    width: 160px;
  }

  .navigation-saved__nav-link_saved.active {
    background-image: url(../../assets/saved-border-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 178px 3px;
    background-origin: border-box;
    overflow: visible;
  }

  .navigation__signin-btn {
    margin-left: 16px;
    width: 152px;
    height: 40px;
  }

  .navigation__logout-btn {
    margin-left: 16px;
    height: 40px;
    background-position: bottom 8px right 8px;
    padding: 8px 50px 8px 15px;
  }

  .navigation-saved__logout-btn {
    margin-left: 16px;
    height: 40px;
    border: solid 1px #d1d2d6;
    background-position: bottom 8px right 8px;
    padding: 8px 50px 8px 15px;
  }
}

@media screen and (max-width: 775px) {
  .navigation {
    display: none;
  }

  .navigation-saved {
    display: none;
  }
}
