.search-form {
  color: white;
  width: 608px;
  margin: 0 auto;
}

.search-form__title {
  font-size: 60px;
  line-height: 64px;
  padding: 80px 0 32px;
  margin: 0;
}

.search-form__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.search-form__search-bar {
  position: relative;
  padding: 88px 0 80px;
}

.search-form__input {
  width: 608px;
  height: 64px;
  border-radius: 100px;
  border: none;
  padding: 0;
}

.search-form__submit {
  width: 168px;
  height: 64px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 100px;
  border: none;
  background-color: #2f71e5;
  color: white;
  margin: 88px 0 80px;
}
