.cards {
  background-color: #f5f6f7;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
}

.cards__more-btn {
  display: block;
  margin: 64px auto 80px;
  width: 288px;
  height: 64px;
  border: none;
  background-color: #e8e8e8;
  border-radius: 100px;
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.cards__more-btn:hover {
  cursor: url(../../assets/lapka.svg), pointer;
}
