.card {
  height: 576px;
  width: 400px;
  border-radius: 16px;
  background-color: white;
  list-style: none;
  position: relative;
}

.card__image {
  height: 272px;
  width: 400px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card__bookmark {
  position: absolute;
  height: 40px;
  width: 40px;
  border: none;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  background-image: url(../../assets/bookmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.card__bookmark:hover {
  background-image: url(../../assets/bookmark-hover.svg);
  cursor: url(../../assets/lapka.svg), pointer;
}

.card__content {
  display: flex;
  flex-direction: column;

  margin: 20px 24px 24px;
  max-height: 304px;
}

.card__date {
  font-family: "Times New Roman", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.card__title {
  font-family: "Roboto-Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  height: 60px;
  margin: 0 0 16px 0;
  flex-grow: 1;
}

.card__description {
  font-family: "Roboto", "Times New Roman", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  height: 110px;
  margin: 0 0 18px 0;
}

.card__source {
  font-family: "Roboto-Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
